<tr>
<td class="text"><%= h Team.find(report_item[:team_id]).name %></td>
<td class="text"><%= h report_item[:month]%></td>
<td class="text"><%= h Worktype.find(report_item[:worktype_id]).name %></td>
<td><%= h report_item[:daysbooked] %></td>
</tr>
