<h1>Report Data</h1>

<% if not @report_data.nil? then 
     if @report_type == DashboardHelper::RepWT_Tracking %>

<h2>Work distribution - tracking</h2>
<table>
<th>Team</th><th>Month</th><th>Work type</th><th>Days booked</th>
<%= render(:partial => "report_wt_track", :collection => report_data) %>
</table>

<% elsif @report_type == DashboardHelper::RepWT_Cumul then %>
<h2>Work distribution - cumulative</h2>
<table>
<th>Team</th><th>Worktype</th><th>Days booked</th>
<%= render(:partial => "report_wt_cumul", :collection => report_data) %>
</table>

<% elsif @report_type == DashboardHelper::RepPRJ_Time_since_update then %>
<h2>Project age - current projects</h2>
<table>
<th>Project</th><th>Ctry</th><th>WType</th><th>PD(Plan)</th><th>Wks s/creat.</th><th>Wks s/upd.</th><th>Stat</th>
<%= render(:partial => "report_prj_age_current", :collection => report_data) %>
</table>

<%end%>
<%end%>

