<h1>Data Maintenance</h1>

<div id="maint-wrap">
<div id="maint-row"></div>	
<div id="maint-left">
<h2>Project data</h2>
<ol>
	<li>
	  <p><a href="/projecttracks/import">Import BW data</a></p>
	</li>
	<li>
	  <p><a href="/projecttracks">List BW data</a>
	</li>	
	<li>
	  <p><a href="/cpro_projects/current_projects">BW link to project</a><a href="/cpro_projects">(list all)</a></p>
	</li>
	<li>
	  <p><a href="/projects">Projects</a></p>
	</li>
        <li>
	  <p><a href="/reviews">Project reviews</a></p>
	</li>
	<li>
	  <p><a href="/countries">Countries</a></p>
	</li>
	<li>
	  <p><a href="/worktypes">Types of Work</a></p>
	</li>
</ol>
</div>
<div id="maint-middle">	
<h2>Team data</h2>
<ol>
	<li>
	  <p><a href="/employees">Employees</a></p>
	</li>
	<li>
	  <p><a href="/teams">Teams</a></p>
	</li>
	 <li>
	  <p><a href="/teammembers">Team Members</a></p>
	</li>
</ol>
</div>
<div id="maint-right">
<h2>Admin</h2>
<ol>
	<li>
	  <p><a href="/users">User Administration</a></p>
	</li>
</ol>
</div>
</div>
</div>
