body {
}

#teamgraph {position: absolute; left: 10px; top: 120px;}
#teamstats {position: absolute; left: 650px; top: 120px;}
#projectstats {position: absolute; left: 650px; top: 440px;}
#teamcommitments {position: absolute; left: 10px; top: 440px; width: 630px;}

.list-line-even {
  background:   #e0f8f8 ;
}
.list-line-odd {
  background:   #f8b0f8 ;
}
