body {
}

#teamgraph {position: absolute; left: 10px; top: 120px;}
#teamstats {position: absolute; left: 650px; top: 120px;}
#projectstats {position: absolute; left: 650px; top: 440px;}
#teamcommitments {position: absolute; left: 10px; top: 440px; width: 630px;}

.list-line-even {
  background:   #aaaaff ;
}
.list-line-odd {
  background:   #ddddff ;
}

.cell-OK {
	background: #00ff00
}

.cell-warning {
	background: #ffff00
}

.cell-error {
	background: #ff0000
}

.cell-action {
	background: #ffff88
}

th { text-align: left }
td { text-align: right }
td.text { text-align: left }
