body {
}

#teamgraph {position: absolute; left: 10px; top: 120px;}
#teamstats {position: absolute; left: 650px; top: 120px;}
#projectstats {position: absolute; left: 650px; top: 440px;}
#teamcommitments {position: absolute; left: 10px; top: 440px; width: 630px;}

.list-line-even {
  background:   #aaaaff ;
}
.list-line-odd {
  background:   #ddddff ;
}

.cell-OK {
	background: #00ff00
}

.cell-warning {
	background: #ffff00
}

.cell-error {
	background: #ff0000
}

.cell-action {
	background: #ffff88
}

th { text-align: left }
td { text-align: right }
td.text { text-align: left }

/* Login form */
.login-form fieldset {
  background: #efe;
}

.login-form legend {
  color: #dfd;
  background: #141;
  font-family: sans-serif;
  padding: 0.2em 1em;
}

.login-form label {
  width: 5em;
  float: left;
  text-align: right;
  margin-right: 0.5em;
  display: block;
}

.login-form .submit {
  margin-left: 5.5em;
}
