<h1>Reports</h1>

<h2>
<%= h Date::MONTHNAMES[@report_date.month]+" "+@report_date.year.to_s %>
</h2>

<div id="projects-wrap">
<div id="projects-row">
<div id="projects-left">
	<h2>Projects in process</h2>
	<p>(Current month, Time booked > 0)</p>
	<%= render(:partial => "project_report", :object => @allprojects) %>
</div>

<div id="projects-middle">
<div id="graph_wt">
<h2>Worktype distribution</h2>
<%= ziya_chart graph_worktypes_url, :size => "400x400" %>
</div>
<br>
<div id="graph_quint">
<h2>Commitments vs. booked</h2>
<%= ziya_chart graph_quintiles_url, :size =>"600x400" %>
</div>
</div>
</div>
</div>