<h1>Reports</h1>

<p>Team capacities of <%=h Date.today %></p>

<table>
<%   @capacities.to_a.each_with_index do |kv, i| %>
<tr><td><%= h kv[0] %></td><td><%= h kv[1] %></td></tr>
 <%end%>
</table>

<script type="text/javascript" src="/javascripts/swfobject.js"></script>
<%= @graph %>